
html{
    font-size: 62.5%;
}
body{
    background-color: #68cdd5;
}
.container:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    overflow: hidden;
    height:0
}
.container{
    zoom: 1;
}
.return{
    margin-top: 2rem;
    margin-left: 0.5rem;
}
.return img{
    width: 3rem;
    height: 3rem;
}
.logo {
    text-align: center;
    margin-top: 10rem;
}
.logo img{
    width: 10rem;
    height:6rem;
}
.txt {
    margin-top: 5rem;
}
.txt p{

    font-size:1.5rem;
    margin-left: 3.5rem;
    margin-right: 4rem;
     text-align: center;
    color:#ffffff;
}
.icons{
    margin-top: 15rem;
    font-size: 1rem;
    color: #fff;

}

.icons img{
    width: 5rem;
    height: 5rem;
}
.icons .icon1 {
    float: left;
    margin-left: 4.5rem;
    text-align: left;
}
.icons .icon2 {
    float: right;
    margin-right: 5rem;
    text-align: right;
}

