* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: #5fc0cd;
    text-align: center;
}

.top {
    position: relative;
    top: 50%;
    padding: 0 4rem;
    width: 100%;
    height: 3.5rem;
    font-size: 0;
    transform: translateY(-50%);
}

.top-button {
    position: relative;
    padding: 0;
    width: 7.2rem;
    height: 100%;
    font-size: 1.7rem;
    text-align: center;
    border-style: none;
    outline-style: none;
}

.button-left {
    background-color: #55a8b3;
    color: #fff;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    z-index: 0;
}

.button-left:focus {
    background-color: #fff;
    color: #5fc0cd;
    border-radius: 0.5rem;
    z-index: 2;
}

.button-right {
    background-color: #55a8b3;
    color: #fff;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    z-index: 1;
}

.button-right:focus {
    background-color: #fff;
    color: #5fc0cd;
    border-radius: 0.5rem;
    z-index: 1;
}

.bg-location {
    transform: scale(.5, .5);
    border-style: none;
    outline-style: none;
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    width: 4.2rem;
    height: 4.4rem;
    background: url(images/css_sprites.png) no-repeat -12.4rem -1rem;
}

.neck {
    width: 100%;
    border-bottom: 1px solid #e1e5e7;
    font-size: 2rem;
    color: #999;
    display: flex;
    position: absolute;
    margin-top: 1.5rem;
}

.neck .dropdown {
    display: inline-block;
    width: 33%;
    text-align: center;
    border-right: 1px solid #e1e5e7;

}

.neck .parent {
    border: none;
}

.neck .dropdown .btn-default {
    border-radius: 0;
    border-style: none;
    color: #999;
    background-color: #fff;
    font-size: 1rem;
    outline: none;

}

.btn .caret {
    margin-left: 1.5rem;
}

.contain {
    padding-top: 8rem;
}

.contain .info {
    padding: 1.5rem;
    border-bottom: 1px solid #e1e5e7;
    margin-bottom: 0;
}

.info .first img {
    width: 1.3rem;
    height: 1.3rem;
}

.info .first span, .info .third span {
    color: #999;
    font-size: 1rem;
    margin-left: 1rem;
}

.info .first, .info .third {
    display: flex;
    align-items: center;
}

.info .first {
    margin-bottom: 1rem;
}

.info .second {
    margin-bottom: 0;
    padding-left: 1rem;
    display: flex;
}

.info .second .during {
    font-size: 1rem;
    color: #333;
    white-space: nowrap;
    margin-left: 1rem;
    flex: 1;
}

.info .second .right {
    display: flex;
    align-items: center;
}

.info .second .right .price {
    font-size: 1.5rem;
    color: #e63b0e;
    white-space: nowrap;
    margin-right: 2rem;
}

.info .second .right img {
    width: 1rem;
    height: 2rem;
}

.info .third img {
    width: 1rem;
    height: 1.3rem;
}

footer {
    width: 100%;
    height: 5rem;
    background-color: #f8fafb;
    border-top: solid #e2eaec 1px;
    font-size: 1rem;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

.low .page {
    position: absolute;
    top: 3.5rem;
    left: 8.2rem;
    color: #5fc0cd;

}

.low .me {
    position: absolute;
    top: 3.5rem;
    right: 8.2rem;

}

footer .low {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.low .homes .bg-home {
    border-style: none;
    outline-style: none;
    position: absolute;
    top: 0.1rem;
    left: 7rem;
    width: 4.6rem;
    height: 4rem;
    transform: scale(.5, .5);
    background: url(images/css_sprites.png) no-repeat -1rem -12.4rem;
}

.low .bg-pen {
    border-style: none;
    outline-style: none;
    width: 9.4rem;
    height: 9.4rem;
    transform: scale(.5, .5);
    background: url(images/css_sprites.png) -1rem -1rem;
    margin-top: -2rem;

}

.low .peoples .bg-people {
    border-style: none;
    outline-style: none;
    position: absolute;
    top: 0.1rem;
    right: 7.2rem;
    transform: scale(.5, .5);
    width: 4.2rem;
    height: 4.1rem;
    background: url(images/css_sprites.png) -18.6rem -1rem;
}


